@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    max-width: 1440px;
    background: #111010;
    font-family: 'Russo One', sans-serif;
    overflow-x: hidden;
}

a {
    font-family: 'Russo One', sans-serif;
}