$color-white: #FFFFFF;
$color-grey: #dbdcd4;
$color-brand: #60f9dc;
$color-brand-dark: #34d2a8;
$color-brand-darker: #277a72;
$color-brandish: #078e72;
$color-black: #111010;
$color-accent: #f60a09;
$color-brown: #4a4946;
$color-greyish: #87ad9c;


$bp-screen-lg: 991px;
$bp-screen-md: 767px;
$bp-screen-smd: 565px;
$bp-screen-sm: 375px;
$bp-screen-xs: 320px;

$screen-1200-width: 1200px;
$screen-max-width: 1440px;




